<p id="notice"><%= notice %></p>
<div class="category">
  <table class="table-hover sortable">
    <%= render partial: "shared/category_header", locals: {category: @category, empty: @ideas.empty?} %>
    <%= render partial: 'shared/ideas_tbody', locals: {ideas: @ideas} %>
  </table>
  <hr>
</div>

<br>

<%= link_to 'Back', root_path %>
