<% recipes.each do |recipe| %>
  <li class="ui-widget-content ui-corner-tr">
    <h5 class="ui-widget-header"><%= recipe.name %></h5>
    <% if recipe.picture? %>
       <%= image_tag recipe.picture_url(:big_thumb), :class => "big_thumb" %>
    <% else %>
       <%= image_tag "no_picture_big.png", :class => "big_thumb" %>
    <% end %>

    <a href="images/high_tatras.jpg" title="View larger image" class="ui-icon ui-icon-zoomin">View larger</a>
    <a href="link/to/trash/script/when/we/have/js/off" title="Delete this image" class="ui-icon ui-icon-trash">Delete image</a>
  </li>
<% end %>
