<h1>About the Author</h1>
<hr>
<p>Created by Vera Clemens based on the <a href="http://guides.railsgirls.com/app">Rails Girls App Tutorial</a></p>
<p><%= link_to 'mailto:vclemens@uni-potsdam.de' do %><span class="glyphicon glyphicon-envelope"></span> Send an email<% end %></p>
<p><%= link_to 'http://github.com/veracl' do %><span class="glyphicon glyphicon-globe"></span> Find me on github<% end %></p>
