<h1>About the Author</h1>
<hr>
<p>Created by Vera Clemens based on the <a href="http://guides.railsgirls.com/app">Rails Girls App Tutorial</a></p>
<p><%= link_to 'mailto:vclemens@uni-potsdam.de' do %><span class="glyphicon glyphicon-envelope"></span> Send an email<% end %></p>
<p><%= link_to 'http://github.com/veracl' do %><span class="glyphicon glyphicon-globe"></span> Find me on github<% end %></p>

<hr>

<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> (licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>)</div>
