/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
*/

body { padding-top: 100px; }
footer { margin-top: 100px; position: absolute; bottom: 10px; text-align: right; width: 100%; }
table, td, th { vertical-align: middle; border: none; }
th { border-bottom: 1px solid #DDD; }
a:hover {background: none; color: black; }
.button { width: 20px; }

.navbar, .navbar-fixed-top, .navbar-default {
  background: #ffad97;
  border-bottom: 3px solid #eee;
}

.navbar li {
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #000;
}

input, textarea, select {
  background: #eee;
  border: 6px solid #eee;
  width: 400px;
}

textarea {
  height: 250px;
}

th .cat {
  margin-bottom: 20px;
}

.button, .button-s {
  width: 35px;
}

.button .glyphicon {
  font-size: 18px;
  color: #ccc;
}

.button-s .glyphicon-remove {
  color: #ff6666;
}

.button-s .glyphicon-plus {
  color: #66cc66;
}

.glyphicon {
  line-height: 1;
  margin: 5px;
  font-size: 10px;
}

.footer {
  position: fixed;
  height: 20px;
  bottom: 0;
  width: 100%;
  color: grey;
  background: #eee;
}

.right {
  text-align: right;
}
