/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
*/

body { padding-top: 100px; padding-bottom: 100px; }
footer { margin-top: 100px; position: absolute; bottom: 10px; text-align: right; width: 100%; }
table, td, th { vertical-align: middle; border: none; padding: 5px; }
th {
  border-bottom: 1px solid #B3CC57;
}
a:hover {background: none; color: black; }
.button { width: 20px; }

.navbar, .navbar-fixed-top, .navbar-default {
  background: #ECF081;
  border-bottom: 3px solid #B3CC57;
}

input, textarea, select {
  background: #eee;
  border: 6px solid #eee;
  width: 400px;
}

textarea {
  height: 250px;
}

th .cat {
  margin-bottom: 20px;
}

.cat_big {
  color: #B3CC57;
  font-size: 32px;
  border: none;
  font-weight:normal;
  padding-bottom: 25px;
  padding-left: 0px;
}

.cat_big a {
  color: #B3CC57;
  text-decoration: none;
}

.th_big {
  color: #404040;
  border: none;
}

.button, .button-s {
  width: 80px;
}

.button .glyphicon {
  font-size: 18px;
  color: #ccc;
}

.button-s .glyphicon-remove {
  color: #ff6666;
}

.button-s .glyphicon-plus {
  color: #66cc66;
}

.glyphicon {
  line-height: 1;
  margin: 5px;
  font-size: 10px;
}

.category {
  padding-bottom: 30px;
}

.footer {
  position: fixed;
  height: 20px;
  bottom: 0;
  width: 100%;
  color: grey;
}

.right {
  text-align: right;
}

.dropdown-menu {
  border-top: 3px solid #dddddd;
  border-radius: 0px; // Removes round edges
}

.td-hover>tbody>tr>td:hover, .td-hover>tbody>tr>td:hover{
        background-color: #f5f5f5;
  }

  h2 {
    color: #B3CC57;
  }

  h1 {
    color: #bbbbbb;
    font-size: 20px;
  }

  .description {
    color: #595959;
  }
