// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
  width: 100%;
}

th,td {
  width: 200px;
  padding: 5px;
}

.thumb {
  border: 1px solid #ddd;
  width: 40px;
  height: 40px;
}

.th_vert {
  width: 50%;
  border-bottom: 0px;
  border-right: 1px solid #ddd;
}

.button { width: 20px; }
