// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

th,td {
  width: 200px;
}

.thumb {
  border: 1px solid #ddd;
}
